<div class="wall1" data-stellar-background-ratio="0.5">
      <h1>Stuff I've written</h1>
    </div>
    <% @posts.each do |post| %>
    <div class="post">
      <h1><%= post.title %></h1>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <p><%= post.content.first(800) %></p><br>
      <%= button_to "Read more", post_path(post), {:method => "get", :class => "button" } %>
    </div>

    <div class="wall2" data-stellar-background-ratio="0.5"></div>
    <% end %>
