

<h1><%= @post.title %></h1><br>
<p><%= @post.content %></p>

<br>
<br>

<%= link_to "Edit", edit_post_path(@post)%> <!-- found with rake routes ! -->

<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete?'} %>
