.text{
  padding: 2em 30px;
  p{
    font-size: 23px
  }
}
hr{
  text-align:center;
  margin: 0 auto;

}
 .share_box{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    p{
      font-family: 'Oswald', sans-serif;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    a{
      color: $dark;
      margin: 0 1em;
      &:hover{
        color: $highlight;
      }
    }
}
