.text{
  #main_title{
    color: $dark;
  }
  padding: 2em 30px;
  p{
    font-size: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}
hr{
  text-align:center;
  margin: 0 auto;

}
 .share_box{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    p{
      font-family: 'Oswald', sans-serif;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  nav.share {display:inline-block;} /* shareable's nav tag */
  nav.share div {
    float:left;
    span{
      padding-right: 10px;
    }
  }


  #___plusone_0 {font-size: default !important;}
  .fb_iframe_widget span { vertical-align: top; }
  .fb_edge_widget_with_comment { vertical-align: top;}
  .fb-like{display:inline-block}
  * html .fb-like{display:inline}/* ie6 inline block fix*/
  *+html .fb-like{display:inline}/* ie7 inline block fix*/
}
